<html> 
	<head> 
		<meta charset="UTF-8"> 
		<title> Index </title> 
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">					 
	</head> 
	<body></br></br></br></br></br> 
		<div align="center"> 
		<div align="center" class="border"> 
			<div class="header"> 
				<h1 class="word">Home</h1> 
			</div></br></br></br> 
				<h1 class="bottom"> 
                     Welcome to the Home page...
                     <br><br>Here's Your Detail <br>{{ans}}!!				 
				</h1></br></br></br> 
				
		</div> 
		</div> 
	</body> 
</html> 
